body{
    color: white;
    font-size: larger;
    background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    height: 100px;
    align-items: center;
}

.nav-link{
    color: black;
}

.row{
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.display-1{
    color: #ccf381;
}


.imagen-portada{
    width: 100%;
}


.seccion1{
    padding: 14% 5% 14% 5%;
    background: white;
    color: black;
}

.cuadros{
    height: 160px;
    border: 1px solid #6a6e73;
    border-radius: 30px;
    background: white;
    margin: 1%;
}

.cuadros:hover{
    background: #384c6c;
    color: white;
    transition: 100ms;
}

.seccion2{
    padding: 9%;
    background: #4831d4;
}

.subtitulos{
    color: #4831d4;
}

.card1{
    border-radius: 30px;
    background: #F9F9F9;
    box-shadow: -1px -1px 20px #ffffff;
}

.modal{
    color: black;
}


@media(max-width: 778px) {
    body{
        background: #4831d4;
    }

    .nav-link{
        color: #ccf381;
    }
}


/* animacion Cards */
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card2 {
    height: 100%;
    display: block;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  }
  
  .card2:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card2:hover:before {
    transform: scale(60);
  }

  .card2:hover{
    color: white;
  }

  .h3{
    font-weight: bold;
  }

  