body{
    color: white;
    font-size: larger;
    background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    height: 100px;
    align-items: center;
}

.nav-link{
    color: black;
}

.row{
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.display-1{
    color: #ccf381;
}


.imagen-portada{
    width: 100%;
}


.seccion1{
    padding: 14% 5% 14% 5%;
    background: url(assets/background.png);
    background-size: cover;
    color: black;
}

.cuadros{
    height: 160px;
    border: 1px solid #6a6e73;
    border-radius: 30px;
    background: white;
    margin: 1%;
}

.cuadros:hover{
    background: #384c6c;
    color: white;
    transition: 100ms;
}

.seccion2{
    padding: 9%;
    background: #4831d4;
}

.subtitulos{
    color: #4831d4;
}

.card1{
    border-radius: 30px;
    background: #F9F9F9;
    box-shadow: -1px -1px 20px #ffffff;
}

.modal{
    color: black;
}


@media(max-width: 778px) {
    body{
        background: #4831d4;
    }

    .nav-link{
        color: #ccf381;
    }
}
